<!-- <ul class="destination">
    <li>
        <span class="badg">{{nombre}}</span>
    </li>
</ul> -->

<!-- <div class="col-md-4">
    <div class="card-content">
        <div class="card-img">
            <img src="http://lorempixel.com/400/200/nature/" alt="">
            <span>
                <h4>Nature</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>Heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
                quo, perspiciatis
                voluptas totam</p>
            <a href="#" class="btn-card">Read</a>
        </div>
    </div>
</div> -->

<!-- 
<div class="card" style="width: 18rem;">
    <img src="http://lorempixel.com/400/200/nature/" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Heading</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
        <a href="#" class="btn btn-primary">Read</a>
    </div>
</div> -->


<!-- <div class="row row-cols-1 row-cols-md-3"> -->
    <div class="col mb-4">
        <div class="card h-100">
            <img src="http://lorempixel.com/400/200/nature/" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
<!-- </div> -->